@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  /* PURPLE THEME */
  /* :root {
    --background: 0.00 0.00% 99.61%;
    --foreground: 249.23 44.83% 5.69%;
    --primary: 249.05 57.27% 56.86%;
    --primary-foreground: 250.00 54.55% 95.69%;
    --card: 248.57 63.64% 97.84%;
    --card-foreground: 249.23 44.83% 5.69%;
    --popover: 0.00 0.00% 100.00%;
    --popover-foreground: 249.23 44.83% 5.69%;
    --secondary: 249.47 57.58% 93.53%;
    --secondary-foreground: 0.00 0.00% 0.00%;
    --muted: 250.00 54.55% 95.69%;
    --muted-foreground: 0.00 0.00% 40.00%;
    --accent: 250.00 54.55% 95.69%;
    --accent-foreground: 249.47 44.19% 8.43%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 249.23 59.09% 91.37%;
    --input: 248.00 16.48% 82.16%;
    --ring: 249.05 57.27% 56.86%;
    --chart-1: 249.05 57.27% 56.86%;
    --chart-2: 248.97 57.22% 63.33%;
    --chart-3: 248.89 56.64% 71.96%;
    --chart-4: 248.70 57.02% 76.27%;
    --chart-5: 249.47 57.58% 80.59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 223.64 47.83% 4.51%;
    --foreground: 249.47 57.58% 93.53%;
    --primary: 249.05 57.27% 56.86%;
    --primary-foreground: 250.00 54.55% 95.69%;
    --card: 224.00 48.39% 6.08%;
    --card-foreground: 249.47 57.58% 93.53%;
    --popover: 0.00 0.00% 0.00%;
    --popover-foreground: 249.47 57.58% 93.53%;
    --secondary: 248.18 43.14% 20.00%;
    --secondary-foreground: 0.00 0.00% 100.00%;
    --muted: 0.00 0.00% 9.80%;
    --muted-foreground: 0.00 0.00% 50.20%;
    --accent: 248.18 43.14% 20.00%;
    --accent-foreground: 249.47 57.58% 93.53%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 249.23 44.83% 11.37%;
    --input: 249.23 12.38% 20.59%;
    --ring: 249.05 57.27% 56.86%;
    --chart-1: 249.05 57.27% 56.86%;
    --chart-2: 248.97 43.32% 48.43%;
    --chart-3: 249.51 43.62% 36.86%;
    --chart-4: 249.57 43.40% 31.18%;
    --chart-5: 248.42 43.51% 25.69%;
    --radius: 0.5rem;
  } */

  
  :root {
  --background: 220 16% 96%;
  --foreground: 222 20% 16%;
  --primary: 222 20% 70%;
  --primary-foreground: 220 16% 96%;
  --card: 220 16% 96%;
  --card-foreground: 222 20% 16%;
  --popover: 220 16% 96%;
  --popover-foreground: 222 20% 16%;
  --secondary: 215 14% 80%;
  --secondary-foreground: 222 20% 16%;
  --muted: 215 14% 80%;
  --muted-foreground: 222 20% 16%;
  --accent: 215 14% 80%;
  --accent-foreground: 222 20% 16%;
  --destructive: 0 80% 50%;
  --destructive-foreground: 222 20% 16%;
  --border: 222 20% 70%;
  --input: 222 20% 70%;
  --ring: 222 20% 70%;
  --chart-1: 222 20% 70%;
  --chart-2: 223 20% 74.51%;
  --chart-3: 222 20% 80.39%;
  --chart-4: 222 20% 83.33%;
  --chart-5: 222 20% 86.67%;
  --radius: 0.5rem;
  }

  .dark {
    --background: 220 16% 16%;
    --foreground: 222 20% 96%;
    --muted: 215 14% 25%;
    --muted-foreground: 222 20% 96%;
    --popover: 220 16% 16%;
    --popover-foreground: 222 20% 96%;
    --border: 222 20% 40%;
    --input: 222 20% 40%;
    --card: 220 16% 16%;
    --card-foreground: 222 20% 96%;
    --primary: 222 20% 65%;
    --primary-foreground: 220 16% 16%;
    --secondary: 215 14% 25%;
    --secondary-foreground: 222 20% 96%;
    --accent: 215 14% 25%;
    --accent-foreground: 222 20% 96%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 222 20% 96%;
    --ring: 222 20% 40%;
    --chart-1: 222.58 20.26% 70.00%;
    --chart-2: 223.85 12.62% 59.61%;
    --chart-3: 222.00 8.62% 45.49%;
    --chart-4: 222.35 8.63% 38.63%;
    --chart-5: 222.86 8.75% 31.37%;
    --radius: 0.5rem;
  }


    

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans-inter;
  }
  .title {
    @apply font-sans-josefin text-3xl font-semibold md:text-4xl;
  }

  .title-gradient {
    @apply bg-gradient-to-r from-ring to-foreground bg-clip-text text-transparent;
  }

}
