@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
  --background: 220 16% 96%;
  --foreground: 222 20% 16%;
  --primary: 222 20% 70%;
  --primary-foreground: 220 16% 96%;
  --card: 220 16% 96%;
  --card-foreground: 222 20% 16%;
  --popover: 220 16% 96%;
  --popover-foreground: 222 20% 16%;
  --secondary: 215 14% 80%;
  --secondary-foreground: 222 20% 16%;
  --muted: 215 14% 80%;
  --muted-foreground: 222 20% 16%;
  --accent: 215 14% 80%;
  --accent-foreground: 222 20% 16%;
  --destructive: 0 80% 50%;
  --destructive-foreground: 222 20% 16%;
  --border: 222 20% 70%;
  --input: 222 20% 70%;
  --ring: 222 20% 70%;
  --chart-1: 222 20% 70%;
  --chart-2: 223 20% 74.51%;
  --chart-3: 222 20% 80.39%;
  --chart-4: 222 20% 83.33%;
  --chart-5: 222 20% 86.67%;
  --radius: 0.5rem;
  }

  .dark {
    --background: 220 16% 16%;
    --foreground: 222 20% 96%;
    --muted: 215 14% 25%;
    --muted-foreground: 222 20% 96%;
    --popover: 220 16% 16%;
    --popover-foreground: 222 20% 96%;
    --border: 222 20% 40%;
    --input: 222 20% 40%;
    --card: 220 16% 16%;
    --card-foreground: 222 20% 96%;
    --primary: 222 20% 65%;
    --primary-foreground: 220 16% 16%;
    --secondary: 215 14% 25%;
    --secondary-foreground: 222 20% 96%;
    --accent: 215 14% 25%;
    --accent-foreground: 222 20% 96%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 222 20% 96%;
    --ring: 222 20% 40%;
    --chart-1: 222.58 20.26% 70.00%;
    --chart-2: 223.85 12.62% 59.61%;
    --chart-3: 222.00 8.62% 45.49%;
    --chart-4: 222.35 8.63% 38.63%;
    --chart-5: 222.86 8.75% 31.37%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans-inter;
  }
  .title {
    @apply font-sans-josefin text-3xl font-semibold md:text-4xl tracking-tight;
  }

  .title-gradient {
    @apply bg-gradient-to-r from-ring to-foreground bg-clip-text text-transparent;
  }
}
